<div class="bg-white rounded-[20px] w-full h-full p-10 text-black ">
    <div class="">
        <button mat-fab color="warn" [routerLink]="'/authentication'">
            <mat-icon color="white">arrow_back_ios</mat-icon>
        </button>
    </div>
    <div class="text-xl flex flex-col items-start justify-start w-full  p-4">
        <div class=" text-xl tracking-wider leading-3 flex items-start justify-start p-4 rounded-xl ">
            <span class="underline">Let register you in.</span>
        </div>

        <div class="w-full">
            <mat-card class="w-full">
                <mat-card-content class="w-full">
                    <form [formGroup]="registrationForm"  class="flex flex-col gap-2 w-full">

                        <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input type="text" matInput formControlName="username">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input type="text" matInput formControlName="email">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Passowrd</mat-label>
                            <input type="password" matInput formControlName="password">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Confirm password</mat-label>
                            <input type="password" matInput formControlName="confirmPassword">
                        </mat-form-field>

                        <div class="button">
                            <button mat-raised-button color="primary" (click)="submit()" >Register</button>
                        </div>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>

        <div>
            <div class=" tracking-wider leading-3 flex items-start justify-start p-4 rounded-xl mt-2 text-sm">
                <span class="text-blue-600 underline cursor-pointer" [routerLink]="'/authentication/login'">Already have account ? Login.</span>
            </div>
        </div>
    </div>
</div>