<div class=" rounded-[20px] w-full h-full p-10 text-black bgg-image" >
  
    <div class="text-xl font-semibold flex flex-col items-center justify-between w-full h-full">
        <div class="font-bold text-3xl tracking-wider leading-3 !bg-white h-[50px] flex items-center justify-center p-4 rounded-xl">
          <span>Lets get you food at your door steps</span>  
        </div>
        <div class="flex flex-row gap-4">
            <button class="bg-[#222831] px-4 py-2 text-white rounded-lg hover:bg-slate-300 hover:text-[#222831] " [routerLink]="'/authentication/sign-up'" >
                Register
            </button>
            <button class="bg-[#222831] px-4 py-2 text-white rounded-lg hover:bg-slate-300 hover:text-[#222831]" [routerLink]="'/authentication/login'" >
                Login In
            </button>
        </div>
    </div>
</div>